.hero-container {
    background-image: url('./assets-images/hero-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh; /* Ensures it covers full viewport height */
    display: flex;
    justify-content: center;
}

h1 {
    text-align: start;
    transition-property: opacity, transform;
    font-family: "Source_Code_Pro variant0", Tofu;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    line-height: initial;
    opacity: 1;
    transition-duration: 350ms;
}

h2 {
    text-align: center;
    transition-property: opacity, transform;
    font-family: "Source_Code_Pro variant0", Tofu;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    line-height: initial;
    opacity: 1;
    transition-duration: 350ms;

}

.skill-container {
    margin-top: 0% !important;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
